[submodule "bitscom"]
	path = bitscom
	url = git@github.com:Squirrel7ang/bitscom.git
[submodule "polar-sgd"]
	path = polar-sgd
	url = git@github.com:Squirrel7ang/polar-sgd.git
[submodule "udtca-config"]
	path = udtca-config
	url = git@github.com:Squirrel7ang/udtca-config.git
